magic_wormhole==0.11.2
appdirs==1.4.3
transitions==0.6.9
qt5reactor==0.5
langcodes==1.4.1
etaprogress==1.1.1
autobahn==19.3.3
pygraphviz==1.5
PySide2==5.12.2
cx_Freeze==5.1.1
secrets==1.0.2
Twisted==19.2.0
wormhole==0.1.0
